.gardening-tips-picture-icon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(108%) contrast(106%);
}

.gardening-tips-popup{
    border: "solid 1px black";
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 10%;
   
}

.gardening-tips-popup-form{
    background-color: rgb(60,66,75);
    color: white;
    padding: 10px;
    font-size:16px;
    font-weight: 400;
    max-width: 450px;
    
}

.gardening-tips-popup-form input[type="file"]{
    visibility: hidden;
}

.gardening-tips-custom-file-button{
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color:#fff;
    background-color:#28a745;
    border-color: #28a745;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.5;
    font-size: 1rem;
    padding: .375rem .75rem;

}
.gardening-tips-card{
    max-width: 550px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.gardening-tips-uploaded-img{
    max-height: 450px;
    object-fit: contain;
}

@media(max-width:650px){
    .gardening-tips-card{
        max-width: 500px;
    }
}

@media(max-width:550px){
    .gardening-tips-card{
        max-width: 450px;
    }
}

@media(max-width:500px){
    .gardening-tips-popup-form{
        font-size: 14px;
        max-width: 400px;
    }
    .gardening-tips-custom-file-button{
        font-size: 14px;
        padding: 5px;
    
    }
    .gardening-tips-card{
        max-width: 350px;
    }
}
@media(max-width:400px){
    .gardening-tips-popup-form{
        font-size: 14px;
        max-width: 350px;
    }
    .gardening-tips-custom-file-button{
        font-size: 14px;
        padding: 5px;
    
    }
    .gardening-tips-card{
        max-width: 250px;
    }
}
@media(max-width:377px){
    .gardening-tips-popup-form{
        font-size: 13px;
        max-width: 300px;
        padding: 5px;
        height: 110px;
    }
    .gardening-tips-custom-file-button{
        font-size: 13px;
        padding: 5px;
    
    }
}
