.comment-form{
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.fetched-comment{
    width: 550px; 
    margin-left: auto; 
    margin-right: auto; 
}

/* .fetched-comments-wrapper{
    margin-left: auto;
    margin-right: auto;
} */

@media screen and (max-width:950px){   
    .comment-form{
        max-width: 500px; 
    }
    .fetched-comment{
        max-width: 500px; 
    }
}

@media screen and (max-width:600px){
    .comment-form{
        max-width: 350px;
        
    }
    .fetched-comment{
        max-width: 350px; 
    }
}


@media screen and (max-width:450px){
    .comment-form{
        max-width: 295px;
        
    }
    .fetched-comment{
        max-width: 295px; 
    }
} 