.Content-Wrapper{
    width:100vw;
    padding: 0px 25px;
}

.carousel-control-next, .carousel-control-prev{
    color:black !important;
    opacity: 0.95 !important;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(94%) contrast(102%) !important;
}