.Sidebar{
    width: 200px;
    height: 500px;  
    border: 25px solid transparent;
    border-image-slice: 25%;
    border-image-repeat: round;
    
}

.Sidebar-Items-Container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap :5px;
    height: 400px;
    
}

.Sidebar-Items{
    height: 45px;
    border-top:  1px solid black ;
    border-bottom: 1px solid black ;
    text-align: center;
}